<div class="d-flex" id="body">
    <div id="sidebar-container" class="color" >
        <div class="logo">
            <a>
                <img src="assets/logo-circle.png" style="width: 80px; height: 80px;">
            </a>
        </div>
        <div class="menu">
            <app-menu></app-menu>
        </div>
    </div>
    <br>
    <div>
        <section>
            <div class="container">
                <h1 class="font-weight-bold">Bienvenido</h1>
            </div>
        </section>
    </div>
</div>
