
<mat-toolbar >
  <div fxHide.gt-xs>
      <button mat-icon-button  (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
    <a routerLink="/home">
        <img src="assets/logo.png" width="200" height="80">
    </a>
   
  </div>
  <div fxFlex fxLayout  fxHide.xs >
    
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
            <a routerLink="/home">Inicio</a>
        </li>
        <li>
            <a routerLink="/about">Acerca de</a>
        </li>
        <li>
            <a routerLink="/contact">Contacto</a>
        </li>
        <li>
            <a routerLink="/questions">Preguntas Frecuentes</a>
           
        </li> 
       <li>
         <button class="btn" mat-button >Ingresar</button>
       </li>
    </ul>
  
  </div>
  
</mat-toolbar>
