<div class="d-flex" id="body">
    <div id="sidebar-container" class="color">
        <div class="logo">
            <a [routerLink]="['/system/welcome']">
                <img src="assets/logo-circle.png" style="width: 80px; height: 80px;">
            </a>
        </div>
        <div class="menu">
            <app-menu></app-menu>
        </div>
    </div>

    <div class="card " style="width: 85rem;">
        <div class="card-header" style="background-color:white;height: 50px;">
            <h1>Comisiones del mes de {{ mesActual }}</h1>
          </div>
        <div class="card-body">
            <br>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Vendedor</th>
                    <th scope="col">#Ventas</th>
                    <th scope="col">Comision</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let commission of commissions">
                    <td>{{ commission.usuario }}</td>
                    <td>{{ commission.ventas }}</td>
                    <td>{{ '$ ' + commission.monto }}</td>
                  </tr>    
                </tbody>
            </table>
        </div>
    </div>
</div>

