<mat-card>

    <br>
    <mat-card-title class="center">
        ¿Quienes somos?
    </mat-card-title>
    <br>
    <mat-card-content class="text">
        Somos una micro empresa que se encarga de la venta de suplementos alimenticios y productos
        naturales para el tratamiento de lesiones y/o problemas de salud.
        Desde hace mas de 3 años nuestra mision ha sido mejor la vida de las personas, ofreciendo los mejores
        productos de nutricion elaborados 100% de ingredientes naturales.
    </mat-card-content>

    <br>
    <mat-card-title class="center">
        Mision
    </mat-card-title>
    <br>
    <mat-card-content class="text">
        Nuestra mision es mejorar los habitos nutricionales de las personas proporcionando productos inovadores,
        con respaldo cientifico y 100% naturales enfocandonos en las necesidades nutricionales de nuestros clientes.
    </mat-card-content>
    <br>
   <mat-card-title  class="center">
       Nuestros Valores
   </mat-card-title>
   
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-3">
                
                    <i style="font-size: 80px;" class="fas fa-hands-helping"></i><br>
                    <h2>Integridad</h2><br>
             
            </div>
            <div class="col-md-3">
          
                    <i style="font-size: 80px;"class="fas fa-user-circle"></i><br>
                    <h2>Respeto</h2>
              
            </div>

            <div class="col-md-3">
               
                    <i style="font-size: 80px;"class="fas fa-heart"></i><br>
                    <h2> Responsabilidad</h2>

               

            </div>
            <div class="col-md-3">
                
                    <i style="font-size: 80px;"class="fas fa-users"></i><br>
                    <h2>Trabajo en equipo</h2>

              
            </div>

        </div>
    </div>

    <div class="card-columns pt-5">
        <div class="card">
            <img src="./../../../assets/1.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">GRC NATURE CREADA PARA TU ALIMENTACION</h5>
                <p class="card-text">Nuestros productos estan diseñados para mejor tu salud para ayudarte a sentirte
                    bien y prevenir enfermedades</p>
            </div>
        </div>
        <div class="card">
            <img src="./../../../assets/2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Juntos hacemos la diferencia</h5>
                <p class="card-text">Nuestros productos son 100% naturales y lo mejor esque son 100% mexicanos</p>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Ayudanos a ayudarte</h5>
                <p class="card-text">Nos compremetemos a mejor tu salud pero no olvides ejercitarte</p>
            </div>
        </div>
        <div class="card">
            <img src="./../../../assets/3.png" class="card-img-top" alt="...">
        </div>
    </div>
    <br>
    
        <mat-grid-list [cols]='colSize' rowHeight="400px">
            <mat-grid-tile>
                <agm-map class="columna" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng">

                    </agm-marker>
                </agm-map>
            </mat-grid-tile>
            <mat-grid-tile class="text">
                GRC Nature se encuentra en Aguascalientes,Ags. Enviamos productos a toda la Republica Mexicana por medio
                de nuestra pagina web de envios o por medio de llamadas.
            </mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-card-title class="center">
            Nuestros Colaboradores
        </mat-card-title>
        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="img">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"><img mat-card-avatar src="{{element.img}}"> </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <mat-card-footer class="footer">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
            <br>
            <mat-icon class="icon">copyright</mat-icon><span>2020 GRC Nature Derechos Reservados </span>
            <br>
        </mat-card-footer>




</mat-card>