<div class="d-flex" id="body">
    <div id="sidebar-container" class="color">
        <div class="logo">
            <a [routerLink]="['/system/welcome']">
                <img src="assets/logo-circle.png" style="width: 80px; height: 80px;">
            </a>
        </div>
        <div class="menu">
            <app-menu></app-menu>
        </div>
    </div>
    <div class="card">
        <div class="card-header" style="background-color:white;height: 50px;">
          <h1> Estadisticas</h1>
        </div>
        <div class="card-body">
            <div class="card">
                <div>
                    <div>
                      <div style="display: block">
                        <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType">
                        </canvas>
                      </div>
                      <button class="btn btn-primary btn-block" (click)="randomize()">Update</button>
                    </div>
                </div>
            </div>
         
      </div>
    </div>
    
</div>


       
