
<div class="card table-responsive-xl">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    <p>{{ user.email }}</p>
                    <div class="collapse" [id]="user.uid">
                        <div class="card card-body">                       
                               <div class="form-group">
                                    <label for="">Correo</label>
                                    <input type="text" #email [value]="user.email" class="form-control">
                               </div>
                               <div class="form-group">
                                    <label for="">Nueva contraseña</label>                              
                                    <input type="password" #password class="form-control">
                               </div>
                            <button type="button" class="btn btn-success" (click)="editUser(email.value, password.value, user.uid)" >Guardar</button>                    
                        </div>
                    </div>
                </td>
                <td>                
                    <button class="btn btn-warning" type="button" data-toggle="collapse" 
                        [attr.data-target]="'#' + user.uid" aria-expanded="false" [attr.aria-controls]="user.uid">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger" type="button" (click)="deleteUser(user.uid)" >
                        <i class="fas fa-trash"></i>
                    </button>                 
                </td>
            </tr>
        </tbody>
    </table>    
</div>
