<div class="d-flex" id="body">
    <div id="sidebar-container" class="color" >
        <div class="logo">
            <a>
                <img src="assets/logo-circle.png" style="width: 80px; height: 80px;">
            </a>
        </div>
        <div class="menu">
            <app-menu></app-menu>
        </div>
    </div>
    <div class="card " style="width: 85rem;">
        <div class="card-header" style="background-color:white;height: 50px;">
          <h1> Bienvenido</h1>
        </div>
        <div class="card-body">
         
      </div>
    </div>
</div>
