<div class="d-flex" id="body">
    <div id="sidebar-container" class="color" >
        <div class="logo">
            <a>
                <img src="assets/logo-circle.png" style="width: 80px; height: 80px;">
            </a>
        </div>
        <div class="menu">
            <app-menu></app-menu>
        </div>
    </div>
    <div class="card " style="width: 85rem;">
        <div class="card-header" style="background-color:white;height: 50px;">
          <h1> Bienvenido</h1>
        </div>
        <div class="card-body">
            <div class="alert alert-success"  role="alert">
                <div class="row">
                    <div class="col">
                        <h2>Bienvenido de nuevo</h2><br>
                        <p>Te estabamos esperando, agiliza tus ventas y ten un mejor control </p><br>
                        
                    </div>
                    <div class="col-ml">
                        <img src="./../../../assets/welcome.png" alt="">
                    </div>
                </div>
               

            </div>
            <br>
            <div class="row text-center">
                <div class="col">
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Ventas</h5>
                          <a class="hrefstyle" routerLink="/system/sales"><i class="fas fa-shopping-cart"></i></a>
                          
                        </div>
                      </div>

                </div>
                <div class="col">
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Productos</h5>
                          <a class="hrefstyle"  routerLink="/system/products"><i class="fas fa-capsules"></i></a>
                        </div>
                      </div>

                </div>
                <div class="col">
                    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Estadisticas</h5>
                          <a class="hrefstyle" routerLink="/system/stadistics"><i class="fas fa-chart-bar"></i></a>
                        </div>
                      </div>

                </div>
            </div>
              
         
      </div>
    </div>
</div>
