<div class="d-flex" id="body">
    <div id="sidebar-container" class="color">
        <div class="logo">
            <a [routerLink]="['/system/welcome']">
                <img src="assets/logo-circle.png" style="width: 80px; height: 80px;">
            </a>
        </div>
        <div class="menu">
            <app-menu></app-menu>
        </div>
    </div>

    <div class="card">
        <div class="card-header" style="background-color:white;height: 50px;">
            <h1> Productos</h1>
          </div>
        <div class="card-body">
            <div class="text-center" >
                <br>
                <form id="contactForm" [formGroup]="form" (ngSubmit)="addProduct()">
                <div class="row">
                  <div class="col-md-2">
                   
                      <input class="form-control" placeholder="Producto" formControlName="nombre" name="nombre" [ngClass]="{'is-invalid': !form.get('nombre').valid}">
                      <div *ngIf="form.controls['nombre'].errors?.required" class="invalid-feedback">
                        El nombre es obligatorio
                      </div>
                  </div>
                  <div class="col-md-2">
                     
                        <input class="form-control" type="text" placeholder="Activo" formControlName="activo" name="activo" [ngClass]="{'is-invalid': !form.get('activo').valid}">
                        <div *ngIf="form.controls['activo'].errors?.required" class="invalid-feedback">
                          El activo es obligatorio
                        </div>
                  </div>
                  
                  <div class="col-md-2">
                     
                    <input class="form-control" type="text" placeholder="Presentación" formControlName="presentacion" name="presentacion" [ngClass]="{'is-invalid': !form.get('presentacion').valid}">
                    <div *ngIf="form.controls['presentacion'].errors?.required" class="invalid-feedback">
                      La presentación es obligatoria
                    </div>
                </div>
                  <div class="col-md-2">
                   
                      <input class="form-control" type="number" placeholder="Precio" formControlName="precio" name="precio" [ngClass]="{'is-invalid': !form.get('precio').valid}">
                      <div *ngIf="form.controls['precio'].errors?.required" class="invalid-feedback">
                        El precio es obligatorio
                      </div>
                    </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Agregar</button>
                  </div>
                </div>
              </form>
              <br>
              
            </div>
            <br>
            <div class="card">
              <div class="card-body">
                <div class="table-responsive-xl">
                  <table class="table table-hover">
                    <thead >
                      <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Presentación</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of products | async">
                        <td>{{product.nombre}}</td>
                        <td>{{product.activo}}</td>
                        <td>{{product.presentacion}}</td>
                        <td>${{product.precio}}</td>
                        <td>
                            <button type="button" title="editar" class="btn btn-warning"><i class="fas fa-edit"></i></button> 
                            <button type="button" title="eliminar" class="btn btn-danger ml-5"><i class="fas fa-trash-alt"></i></button>  
                        </td>
                      </tr>     
                    </tbody>
                  </table>
                </div>   
              </div>
            </div>
            
        </div>
    </div>
</div>