<div class="d-flex" id="body">
    <div id="sidebar-container" class="color">
        <div class="logo">
            <a [routerLink]="['/system/welcome']">
                <img src="assets/logo-circle.png" style="width: 80px; height: 80px;">
            </a>
        </div>
        <div class="menu">
            <app-menu></app-menu>
        </div>
    </div>

    <div class="card " style="width: 85rem;">
        <div class="card-header" style="background-color:white;height: 50px;">
            <h1> Productos</h1>
          </div>
        <div class="card-body">
            <div class="text-center" >
                <br>
                <form id="contactForm" >
                <div class="row">
                  <div class="col-md-2">
                    
                    <input class="form-control" placeholder="Producto" formControlName="product" name="product">
                 
                  </div>
                  <div class="col-md-2">
                    
                      <input class="form-control" type="number" placeholder="Cantidad" formControlName="cant" name="cant">
                   
                  </div>
                  
                  <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Caducidad</div>
                        </div>
                            <input class="form-control" type="date" placeholder="Caducidad" formControlName="date"
                            name="date">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <input class="form-control" type="number" placeholder="Precio" formControlName="price" name="price">
                </div>
                  <div class="col">
                    <button type="submit" class="btn btn-success">Registrar</button>
                  </div>
                </div>
              </form>
              <br>
              
            </div>
            <br>
            <table class="table table-hover">
                <thead >
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Caducidad</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products | async">
                    <td>{{product.nombre}}</td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                        
                        
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button>
                    </td>
                  </tr>
                  
                  
                </tbody>
              </table>
        </div>
    </div>
</div>