<mat-card>

    <br>
    <mat-card-title class="center">
        ¿Quienes somos?
    </mat-card-title>
    <br>
    <mat-card-content class="text">
        Somos una micro empresa que se encarga de la venta de suplementos alimenticios y productos
        naturales para el tratamiento de lesiones y/o problemas de salud.
        Desde hace mas de 3 años nuestra mision ha sido mejor la vida de las personas, ofreciendo los mejores
        productos de nutricion elaborados 100% de ingredientes naturales.
    </mat-card-content>

    <br>
    <mat-card-title class="center">
        Mision
    </mat-card-title>
    <br>
    <mat-card-content class="text">
        Nuestra mision es mejorar los habitos nutricionales de las personas proporcionando productos inovadores,
        con respaldo cientifico y 100% naturales enfocandonos en las necesidades nutricionales de nuestros clientes.
    </mat-card-content>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile><img class="opacity" mat-card-image src="./../../../assets/1.jpg"></mat-grid-tile>
        <mat-grid-tile><img class="opacity" mat-card-image src="./../../../assets/3.jpg"></mat-grid-tile>
        <mat-grid-tile><img class="opacity" mat-card-image src="./../../../assets//2.jpg"></mat-grid-tile>
    </mat-grid-list>
    <br>
    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
            <agm-map class="columna" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="lat" [longitude]="lng">

                </agm-marker>
            </agm-map>
        </mat-grid-tile>
        <mat-grid-tile class="text">
            GRC Nature se encuentra en Aguascalientes,Ags. Enviamos productos a toda la Republica Mexicana por medio
            de nuestra pagina web de envios o por medio de llamadas.
        </mat-grid-tile>
    </mat-grid-list>
    <br>
    <mat-card-title class="center">
       Nuestros Colaboradores
    </mat-card-title>
<br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"><img mat-card-avatar src="{{element.img}}"> </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef > Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-card-footer class="footer">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-whatsapp"></i></a>
        <br>
        <mat-icon class="icon">copyright</mat-icon><span>2020 GRC Nature Derechos Reservados </span>
        <br>
    </mat-card-footer>




</mat-card>