
            <a routerLink="/system/register" routerLinkActive="active" class="d-block text-light p-3">
                <i class="fas fa-users"></i>  Usuarios
            </a>
            <a routerLink="/system/stadistics" routerLinkActive="active"  class="d-block text-light p-3">
                <i class="fas fa-chart-line"></i>  Estadisticas
            </a>
            <a routerLink="/system/sales" routerLinkActive="active"  class="d-block text-light p-3" *ngIf="user.email === 'admin@grcnature.com'">
                <i class="fas fa-file-invoice-dollar"></i>  Ventas
            </a>
            <a routerLink="/system/inventory" routerLinkActive="active"  class="d-block text-light p-3">
                <i class="fas fa-truck-loading"></i>  Inventario
            </a>
            <a routerLink="/system/products" routerLinkActive="active"  class="d-block text-light p-3">
                <i class="fas fa-box-open"></i>  Productos
            </a>
            <a routerLink="/system/commissions" routerLinkActive="active"  class="d-block text-light p-3" *ngIf="user.email === 'admin@grcnature.com'">
                <i class="fas fa-money-bill-wave"></i>  Comisiones
            </a>



