
            <a routerLink="/system/register" class="d-block text-light p-3">
                <mat-icon class="mr-2 lead"  >assignment_ind</mat-icon>Usuarios
            </a>
            <a href="/system/statistics" class="d-block text-light p-3">
                <mat-icon class="mr-2 lead">timeline</mat-icon>Estadisticas
            </a>
            <a href="/system/sales" class="d-block text-light p-3" *ngIf="user.email === 'admin@grcnature.com'">
                <mat-icon class="mr-2 lead">local_offer</mat-icon>Ventas
            </a>
            <a href="/system/inventory" class="d-block text-light p-3">
                <mat-icon class="mr-2 lead">playlist_add_check</mat-icon>Inventario
            </a>
            <a href="/system/products" class="d-block text-light p-3">
                <mat-icon class="mr-2 lead">add_circle</mat-icon>Productos
            </a>
            <a href="/system/commissions" class="d-block text-light p-3" *ngIf="user.email === 'admin@grcnature.com'">
                <mat-icon class="mr-2 lead">monetization_on</mat-icon>Comisiones
            </a>
            <div fxHide.gt-xs>
                <a href="" class="d-block text-light p-3">
                    <i class="fas fa-sign-out-alt mr-2"></i>Cerrar Sesion
                </a>
            </div>



