.opacity{
    filter:brightness(0.7);
    position: relative;
}

.text{
    display: flex;
    margin-right: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Balsamiq Sans';
}

i{
    
    font-size: 40px;
    padding-left: 20px;
    
}
a{
    color: black;
}

.footer{
    text-align: center;
    margin-top: 30px;
   

}

.icon{
    padding-top: 15px;
    font-size: 14px;
}



@media(max-width: 600px){
    .text{
        font-size: 15px;
    }
    
}




